/****detalhes do produto****/
body{
	background-color: #EFEAD8
}

.card{
	border:none;
}

.product{
	background-color: #c7c1af
}

.brand{
	font-size: 13px
}

.about{
	font-size: 14px
}

.color{
	margin-bottom:10px
}

label.radio{
	cursor: pointer

}

label.radio input{
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	pointer-events: none
}

label.radio span{
	padding: 2px 9px;
	border: 2px solid #5F7161;
	display: inline-block;
	color: #5F7161;
	border-radius: 3px;
	text-transform: uppercase
}

label.radio input:checked+span{
	border-color: #5F7161;
	background-color: #5F7161;
	color: #fff
}

.btn-danger{
	background-color: #5F7161 !important;
	border-color: #5F7161 !important
}

.btn-danger:hover{
	background-color: #6D8B74 !important;
	border-color: #6D8B74 !important
}

.btn-danger:focus{
	box-shadow: none
}


/**** fim detalhes do produto****/