{% extends 'loja/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
{% endblock css %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'loja:loja' %}">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>{{ carrinho.items_carrinho }}</strong></h5></th>
						<th><h5>Total:<strong> {{carrinho.valor_carrinho |floatformat:2}}€</strong></h5></th>
						<th>
							<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'loja:checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div> <!-- usamos flex para ter o layout das linhas os numeros sao o tamanho das colunas na linha -->
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Delete</strong></div>
				</div>
				{% for produto,info in produtos  %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{produto.pic}}"></div>
					<div style="flex:2"><p>{{produto.nome}}<!-- {{item.product.name}} --></p></div>
					<div style="flex:1"><p> {{produto.preco}}€ <!-- ${{item.product.price|floatformat:2}} --></p></div>
					<div style="flex:1">
						<p class="quantity">{{info.quantidade}}<!-- {{item.quantity}} --></p>
						<div class="quantity">
							<a href="{% url 'loja:add_cart' produto.id %}"> <img class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}"> </a>
							<!-- adiciona as setas que adiciona ou retiram o numero de itens desse produto-->
							<a href="{% url 'loja:remove_one' produto.id %}"><img class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}"></a>
						</div>
					</div>
					<div style="flex:1"><a href="{% url 'loja:remove_cart' produto.id %}">Delete </a></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<p></p>
	

{% endblock content %}
{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
</script>
{% endblock js %}