
{% extends 'loja/main.html' %}


{% block content %}
<style> /* optamos por deixar aqui pois é o único código de css necessário na página, seria ineficiente criar um ficehiro só por causa deste */
    label{
        width: 7em;
    }
</style>
<center>
<form  style="width: 70%; background-color:beige;" action="{% url 'loja:criaProduto' %}" id="formulario" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <br>
    <br>
    <!-- dados produto -->
    <div class="form-group ">
    <label id="name" for="novoP"><b>Nome:</b></label>
    <input class="form-control" type="text" name="novoP" id="novoP" required>
    <br>
</div>

    <div class="form-group">
    <label for="desc"><b>Descrição:</b></label>
    <input class="form-control" type="text" name="desc" id="desc" required>
    <br>
</div>

    <div class="form-group"></div>
    <label for="precoP"><b>Preço:</b></label>
    <input class="form-control" type="number" name="precoP" id="precoP" required>
    <br>
</div>

    <div class="form-group">
    <label for="Foto"><b>Foto:</b></label>
    <input class="form-control" type="file" name="fotoP" id="Foto" required>
    <br>
    </div>
    <!--quando clica na checkbox aparece o div personalizar-->
    <label for="isPers"><b>Personalizável:</b></label>
    <input class ="checkbox" type="checkbox" id="isPers" name="isPers" value="True">
    
        <div id="question">
        </div>
        <div style="background-color:whitesmoke;">
        <div class="form-group" id="questao_1"></div> 
        <div class="form-group" id="questao_2"></div>
        <div class="form-group" id="questao_3"></div>
        <div class="form-group" id="questao_4"></div>
        <div class="form-group" id="questao_5"></div>
        <div class="form-group" id="questao_6"></div>
    </div>
    <button type="submit" class="btn btn-dark" >Criar</button>
</form>
</center>
{% endblock content %}

{% block js %}
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'js/criaProduto.js' %}"></script>
  {% endblock js %}

