{% extends "loja/main.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/detalhesProd.css' %}">
{% endblock css %}

{% block content %}



<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card me-auto ms-auto">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3"> 
                            <img id="main-image" src="{{produto.pic}}" width="250" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            
                            <div class="mb-3"> 
                                <h5 class="text-uppercase">{{produto.nome}}</h5>
                                <span class="text-uppercase text-muted brand">by {{produto.seller.who.username}}</span>
                                <div class="price d-flex flex-row align-items-center fs-2 fw-bold"> {{produto.preco | floatformat:2}}€
                                </div>
                                
                            </div>
                            <p class="about">{{produto.descricao}}</p>
                            <form action="{% url 'loja:add_cart' produto.id %}" method="post"> {% csrf_token %}
                            {% for questao,opcao in perguntas %}
                            <p>{{questao}}</p>
                                {% for chose in opcao %}
                                <label class="radio"> <input type="radio" name="{{questao.id}}" value="{{chose}}" checked> <span>{{chose}}</span> </label>
                                {% endfor %}
                            {% endfor %}
                            <br><br><br>
                            {% if not isvender %}
                            <input class="btn btn-danger float-right "type="submit" value="Adicionar ao carrinho">
                            {% endif %}

                        </form>
                    
                            <br>
                            {% if isvender %}
                            <a class="btn btn-danger float-right " href="{% url 'loja:apagar' produto.id %}">Apagar Produto</a>
                            {% endif %}
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

{% endblock js %}