{% extends 'loja/main.html' %}

{% block content %}
    {% if sucess_message %}
        <p style="color:green">{{sucess_message}}</p>
    {% endif %}
    <div class="box-element">
        <ul id="infoPerfil" class="info_group" style="list-style-type: none;">
            <li> <strong>Nome: </strong>{{user.username}} </li>
            <li> <strong>Email: </strong> {{user.email}}</li>
            {% if isvender %}

                <li> <strong>Empresa: </strong>{{request.user.vendedor.empresa}}</li>
            {% else %}

                <label for="isVendedor"><b>Clica aqui para seres Vendedor</b></label>
                <input class="checkbox" type="checkbox" placeholder="Quero ser Vendedor" name="isVendedor" id="isVendedor"><br>


                <form id="inputEmpresa" action="{% url 'loja:detailConta' %}" method="post">
                    {% csrf_token %}    
                    <input  class="empresa" type="text" name="empresa" id="empresa" pattern="[a-zA-Z ]+ " required><br>
                    <button type="submit" class="submitEmpresa">Guardar!</button>
                </form>
            {%endif%}
        </ul>
    </div>

{% endblock content %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="{ static 'inputEmpresa.js'}"> </script>
{% endblock js %}
