{% extends "loja/main.html" %}

{% block content %}

{% load static %}

<div class="card-group">
    <div class="card">
        <img class="card-img-top" src="{%static 'images/placeholder.png' %}">
        
                <h6><strong> <a class="card-title" href="#1">Produto</a></strong></h6>
                <hr>
                <button class="btn btn-primary">Adicionar ao Carrinho</button>
                <!-- <a class="btn btn outline-success" href="#">View</a> -->
                <h4 style="display:inline-block; float:right">20€</h4>
        
    </div>
    
    
    
    
    
    
    
    <div class="col-lg-4">
        <img class="thumbnail" src="{%static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btm btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
            <a class="btn btn outline-success" href="#">View</a>
            <h4 style="display:inline-block; float:right">20€</h4>
        </div>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="{%static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btm btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
            <a class="btn btn outline-success" href="#">View</a>
            <h4 style="display:inline-block; float:right">20€</h4>
        </div>
    </div>
</div>

{% endblock content %}