{% extends "loja/main.html" %}

{% block content %}

{% load static %}

<div class="card-group ">
    {% for product in products_list %}
    <div class="card m-2 mb-3">
        <img class="card-img-top" src="{%static 'images/placeholder.png' %}">
        
                <h6><strong> <a class="card-title ps-2" href="{% url 'loja:detalheProd' product.id %}">{{product.nome}}</a></strong></h6>
                
                <!-- <a target="_blank" class="btn btn-info pull-right" href="{ url 'loja:addCart' product.id %}">
                Add cart
                </a> TIRAR DAQUI POIS È PRECISO PERSONALIZAR PRIMEIRO!!!! USAR ESTE BOTAO NO DETALHE DO PRODUTO-->
                <h4 class="ps-2" style="display:inline-block; float:right">{{product.preco}}</h4>
        
    </div>
    {% endfor %}
</div>

{% endblock content %}